/* latin */
@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v11/yYL00g_a2veiudhUmxjo5VKkoqA-B_nuIrpw4cNOTw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pd8___1ImSRuQwc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pd8-__1ImSRuQwc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pd8w__1ImSRu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



body {
  background-color: #5972E0;
  color: #F9FBFF;
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
}

p {
  font-size: 1.5em;

}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: center;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

h1 {
  color: #F9FBFF;
  font-size: 3em;
  font-weight: bold;
}

.form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #F9FBFF;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.row {
  flex: 1 1 auto;
  width: 100%;
}

.action {
  display: block;
  margin: 10px 0;
}



.image-select {
  background-color: #D8C34E;
  color: #F9FBFF;
  display: block;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 0.5em;
}

.image-select:hover {
  background-color: rgb(228, 204, 69);
}

.action input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.action input[type=text] {
  border: none;
  outline: none;
  color: #F9FBFF;
  background-color: transparent;
  font-size: 1em;
  width: 500px;
  border: 2px dashed #F9FBFF;
  text-align: left;
  padding: 0.5em;
}

.action input[type=text]::placeholder { 
  color: rgb(213, 215, 220);
}

button {
  background-color: #D8C34E;
  
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 1.6em;
  color: #F9FBFF;
}

button:hover {
  background-color: rgb(228, 204, 69);
  cursor: pointer;
}

button.btn-primary {
  background-color: #8CAC6D;
  
}

button.btn-primary:hover {
  background-color: rgb(110, 150, 70);
}

button.btn-secondary {
  background-color: #B0514D;
}

button.btn-secondary:hover {
  background-color: rgb(179, 61, 57);
}

.imageWrap {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.image img.bg {
  width: 100%;
}

.todo {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 100px;
  align-items: flex-end;
  justify-content: center;
}

.todo-img {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.todo-text {
    position: absolute;
    bottom: 28%;
    left: 10%;
    font-family: "Cedarville Cursive";
    font-size: 0.8em;
    width: 85%;
    text-align: left;
    color: black;
}

.action .checkbox-container {	
  float: left;	
  margin-top: 4px;	
}	

 .checkbox-container {	
  display: block;	
  position: relative;	
  margin-right: 2em;	
  cursor: pointer;	
  font-size: 22px;	
  -webkit-user-select: none;	
  -moz-user-select: none;	
  -ms-user-select: none;	
  user-select: none;	
  height: 25px;	
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #F9FBFF;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #8CAC6D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #F9FBFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button,
.image-select,
.image {
  box-shadow: 0px 8px 2px #4B5EC0;
}

button:hover,
.image-select:hover {
  box-shadow: 0px 5px 2px #4B5EC0;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  font-size: 0.8em;
  color: #F9FBFF;
  margin-top: 3em;
}

footer a {
  color: white;
}

@media screen and (max-width: 1200px) {
  .form {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .App {
    width: 94%; 
    margin: 0 auto;
    padding: 0;
  }

  .form {
    flex-direction: column;
  }

  .imageWrap {
    max-width: 100%!important;
  }

  .image,
  .image img.bg {
    width: 100%!important;
    height: auto!important;
  }

  .todo {
    width: 90%;
    left: 5%;
  }

  .todo-text {
    bottom: 38%;
  }

  button,
  .image-select,
  .action input[type=text] {
    width: 80%;
  }

}

@media screen and (max-width: 550px) {
  h1 {
    margin: 10px 0;
  }
  .todo {
    left: 5%;
  }
  .todo-text {
    bottom: 26%;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 420px) {
  .todo {
    width: 90%;
    left: 5%;
  }
  .todo-text {
    bottom: 29%;
    font-size: 0.8em;
  }

  .action input[type=text] {
    width: 85%;
  }
}
